:root {
    /* 
    Using CSS Variables to make color managment easier: https://www.w3schools.com/css/css3_variables.asp
    Using the color scheme from SCHEMECOLOR: https://www.schemecolor.com/dark-blue-and-gold-pastels.php */

    --DarkMidnightBlue: #00346a;
    --DarkCornflowerBlue: #294385;
    --Parchment: #f4f2c9;
    --CrayolasLemonYellow: #fef3a0;
    --EarthYellow: #d8bf68;
    --AztecGold: #c59e4f;
    --LapisLazuli: #1864a3;

    /*Creating the default font size for "rem" font size to work: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
    font-size: 16px;
}

.projectscontainer {
    border: 2px solid black;
}

section .projectscontainer h2 {
    width: 100%;
    text-align: center;
}

/* section h2{
    text-align: center;
    font-size: 2rem;
    background: var(--AztecGold);
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid black;
    color: black;
} */

.projectbox {
    background: var(--Parchment);
    border: 1px solid black;
    margin: 0.5rem;
    padding: 2%;
}

.projectbox:hover {
    background: var(--EarthYellow);
}

.projectbox p {
    margin: 1rem;
}

.projectbox h4 {
    width: auto;
    text-align: center;
    font-size: 2rem;
    background: var(--AztecGold);
    padding: 1rem;
    margin-top: 0%;
    border: 2px solid black;
    color: black;
}

.code {
    font-family: monospace;
    font-size: 1.25rem;
}
