:root {
    /* 
    Using CSS Variables to make color managment easier: https://www.w3schools.com/css/css3_variables.asp
    Using the color scheme from SCHEMECOLOR: https://www.schemecolor.com/dark-blue-and-gold-pastels.php */

    --DarkMidnightBlue: #00346a;
    --DarkCornflowerBlue: #294385;
    --Parchment: #f4f2c9;
    --CrayolasLemonYellow: #fef3a0;
    --EarthYellow: #d8bf68;
    --AztecGold: #c59e4f;
    --LapisLazuli: #1864a3;

    /*Creating the default font size for "rem" font size to work: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
    font-size: 16px;
}

/* .projectscontainer {
    display: grid;
} */

.projectscontainer {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.projectscontainer h2 {
    width: 100%;
    text-align: center;
}

.project-item {
    background: var(--Parchment);
    border: 1px solid black;
    padding: 1rem;
    width: 30%;
    flex-grow: 1;
}

.project-item:hover {
    background: var(--EarthYellow);
}

.project-item p {
    font-size: 1.5em;
}

.project-item h4 {
    width: auto;
    text-align: center;
    font-size: 2rem;
    background: var(--AztecGold);
    padding: 1rem;
    margin-top: 0%;
    border: 2px solid black;
    color: black;
}

.project-item img {
    width: 100%;
    object-fit: contain;
}

.code {
    font-family: monospace;
    font-size: 1.25rem;
}
