:root{
    /* 
    Using CSS Variables to make color managment easier: https://www.w3schools.com/css/css3_variables.asp
    Using the color scheme from SCHEMECOLOR: https://www.schemecolor.com/dark-blue-and-gold-pastels.php */

    --DarkMidnightBlue: #00346A;
    --DarkCornflowerBlue: #294385;
    --Parchment: #F4F2C9;   
    --CrayolasLemonYellow: #FEF3A0;
    --EarthYellow: #D8BF68;
    --AztecGold: #C59E4F;
    --LapisLazuli: #1864A3;


    /*Creating the default font size for "rem" font size to work: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
    font-size: 16px;
}


table{
    background: var(--Parchment);
    color: var();
    margin: auto;
    width: 100%;
}



table th {
    margin-right: 3rem;
    padding: .5rem;
    background-color: var(--LapisLazuli);
    
}

caption {
    background: var(--CrayolasLemonYellow);
    border: px solid black;
    margin-left: 2rem;
    margin-right: 2rem;
}

.code {
    font-family: monospace;
    font-size: 1.25rem;
}