:root{
    /* 
    Using CSS Variables to make color managment easier: https://www.w3schools.com/css/css3_variables.asp
    Using the color scheme from SCHEMECOLOR: https://www.schemecolor.com/dark-blue-and-gold-pastels.php */

    --DarkMidnightBlue: #00346A;
    --DarkCornflowerBlue: #294385;
    --Parchment: #F4F2C9;   
    --CrayolasLemonYellow: #FEF3A0;
    --EarthYellow: #D8BF68;
    --AztecGold: #C59E4F;
    --LapisLazuli: #1864A3;


    /*Creating the default font size for "rem" font size to work: https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
    font-size: 16px;
}

.projectscontainer {
    overflow: hidden;
    border: 2px solid #000000;
}

.projectscontainer h2{
    text-align: center;
    font-size: 2rem;
    background: #D5Ad36;
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid #000000;
}

.projectbox {
    background: var(--Parchment);
    border: 1px solid #000000;
    float: left;
    margin: 1rem;
    width: 31%;
}

.projectbox p {
    margin: 1rem;
}

.projectbox h4 {
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    background-color: #D5Ad36;
    padding: 15px;
}

.code {
    font-family: monospace;
    font-size: 1.25rem;
}