.projectscontainer {
    overflow: hidden;
    border: 2px solid #000000;
}
.projectscontainer h2{
    text-align: center;
    font-size: 2em;
    background: #D5Ad36;
    padding: 15px;
    margin: 15px;
    border: 2px solid #000000;
}

.projectbox {
    background:  #F4F2C9;
    border: 1px solid #000000;
    float: left;
    margin: 15px;
    width: 31%;
}

.projectbox p {
    margin: 15px;
}

.projectbox h4 {
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
    background-color: #D5Ad36;
    padding: 15px;
}

.code {
    font-family: monospace;
    font-size: 1.25em;
}