// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #333;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$bezierCurve: cubic-bezier(0.68, -0.55, 0.265, 1.55);

.circle {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;

    .sky {
        position: absolute;
        background-color: aqua;
        height: 200px;
        width: 200px;

        z-index: 0;
        animation: changeSky 5s ease-out infinite;
    }

    .sun {
        position: absolute;
        background-color: yellow;
        height: 30px;
        width: 30px;
        border-radius: 50%;

        z-index: 15;

        top: 7px;
        left: 85px;
        transform-origin: 40% 400%;
        animation: moveSun 5s $bezierCurve infinite;
    }

    .ground {
        position: absolute;
        background-color: #fdecdc;
        height: 100px;
        width: 200px;

        bottom: -20%;

        z-index: 3;

        animation: changeGround 5s ease-out infinite;
    }

    .pyramide {
        position: absolute;
        height: 57px;
        width: 116px;
        // border: white dotted 2px;

        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 5;

        .side-1 {
            position: absolute;
            height: 57px;
            width: 116px;
            background: #f4f4f4;
            clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
            background-color: red; /* Change color as needed */

            bottom: 0%;
            left: 0%;

            animation: shade-side-1 5s $bezierCurve infinite;
        }

        .side-2 {
            position: absolute;
            height: 57px;
            width: 58px;
            clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
            background-color: blue; /* Change color as needed */

            bottom: 0%;
            left: 50%;

            animation: shade-side-2 5s $bezierCurve infinite;
        }
    }

    .shadow {
        position: absolute;
        clip-path: polygon(42px 0, 158px 0, 50% 100%);
        background-color: green;
        height: 50px;
        width: 200px;
        //116px

        // 116px == x  --> 58%
        // 200px    100%

        top: 82%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 4;

        animation: changeShadow 5s $bezierCurve infinite;
    }
}

@keyframes moveSun {
    0% {
        transform: rotate(-110deg);
    }

    30% {
        transform: rotate(-30deg);
    }

    45% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(110deg);
    }
}

@keyframes changeSky {
    0% {
        background-color: #1d5d9b;
    }
    15% {
        background-color: #f4d160;
    }
    25% {
        background-color: #75c2f6;
    }

    30% {
        background-color: #75c2f6;
    }

    70% {
        background-color: #75c2f6;
    }

    100% {
        background-color: #1d5d9b;
    }
}

@keyframes changeGround {
    0% {
        background-color: #907d6e;
    }

    5% {
        background-color: #907d6e;
    }

    30% {
        background-color: #fdecdc;
    }

    45% {
        background-color: #fdecdc;
    }

    70% {
        background-color: #fdecdc;
    }

    80% {
        background-color: #907d6e;
    }

    100% {
        background-color: #907d6e;
    }
}

@keyframes changeShadow {
    0% {
        clip-path: polygon(42px 0, 158px 0, 200px 30%);
        background-color: #907d6e;
    }
    
    30% {
        clip-path: polygon(42px 0, 158px 0, 150px 60%);
        background-color: #f0d0b8;
    }

    45% {
        clip-path: polygon(42px 0, 158px 0, 150px 60%);
        background-color: #f0d0b8;
    }

    100% {
        clip-path: polygon(42px 0, 158px 0, -200px 40%);
        background-color: #907d6e;
    }
}

@keyframes shade-side-1 {
    0% {
        background-color: #c8a58a;
    }

    30% {
        background-color: #f5e1bf;
    }

    45% {
        background-color: #f5e1bf;
    }

    100% {
        background-color: #c8a58a;
    }
}

@keyframes shade-side-2 {
    0% {
        background-color: #d4af92;
    }

    30% {
        background-color: #ddc7af;
    }

    45% {
        background-color: #ddc7af;
    }

    100% {
        background-color: #d4af92;
    }
}
