// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #333;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;

    .sky {
        position: absolute;
        background-color: aqua;
        height: 200px;
        width: 200px;

        z-index: 0;
    }

    .ground {
        position: absolute;
        background-color: bisque;
        height: 100px;
        width: 200px;

        bottom: -20%;

        z-index: 3;
    }

    .pyramide {
        position: absolute;
        height: 75px;
        width: 100px;
        border: white dotted 2px;

        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);

        .side-1 {
            position: absolute;
            width: 50px;
            height: 50px;
            clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
            background-color: red; /* Change color as needed */

            bottom: 0%;
            left: 10%;
        }

        .side-2 {
            position: absolute;
            width: 50px;
            height: 50px;
            clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
            background-color: blue; /* Change color as needed */

            bottom: 0%;
            right: 10%;
        }
    }
}
