// =========================== Importing fonts ===========================
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");


// Color Scheme Definitions
// https://www.canva.com/colors/color-palettes/lily-stem/

$Blue-Green: #00b4d4;
$Burnt-Orange: #d85e00;
$Yellow-Green: #cade59;
$Red-Orange: #9F2B00;
$Pink-Strawberry: #FF5349;


// Margin Scale Vairiables Definitions
$margin-xxs: .25rem;
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1rem;
$margin-l: 1.25rem;
$margin-xl: 1.75rem;
$margin-xxl: 2.5rem;

body {
    margin: 0;

    font-size: 1.125rem;
    line-height: 1.5;
}
// The .wrapper ensures that all the elemnts will be aligned in the same format across the page
// margin-inline: auto; allows all the elements to be centered automaticaly
.wrapper {
    width: min(800px, 90%);
    margin-inline: auto;
    // border: 2px solid lime;
}

.primary-header {
    overflow: hidden;
    background-image: linear-gradient(45deg, $Burnt-Orange 10%, $Pink-Strawberry 100%);
    color: #fff;
    margin: 0;
    display: flow-root;

    // The menu botton and Extra Button in the top right
    .primary-header__tool-tips {
        display: flex;
        justify-content: space-between;
        margin: 1rem 1rem;
        img#menu-button {
            max-width: 3rem;

        }
        button {
            background-color: #111;
            color: #fff;
        }
    }

    .primary-header__content {
        text-align: center;
        line-height: 0.5rem;
        margin: 0%;
        padding: 0%;
        height: 10rem;

        font-family: "Niconne", cursive;
        font-weight: 300;
        font-style: normal;


        // this is the container for allowing the animations to play in the header.
        // I needed to adjust their positioning so as to allow the text to be displayed over the canvas.
        // 
        .canvas-container {
            position: relative;
            width: 100%;
            height: 100%;

            padding: 0%;
            margin: 0%;

            #bubble-canvas {
                position: absolute;
                width: 99%;
                height: 100%;
                display: block;

                // border: lime 3px solid;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .primary-header__text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -45%);
                z-index: 2;

                h1 {
                    font-size: 5.5rem;
                }

                p {
                    position: relative;
                    // left: 6rem;
                    top: -2rem;

                    font-size: 2rem;
                    line-height: 2rem;
                    margin-right: 0%;
                    padding-right: 0%;
                }
            }
        }
    }

    nav.primary-header__navigation {
        overflow: hidden;

        ul {
            display: flex;
            justify-content: space-around;

            list-style-type: none;
            margin: 0;
            padding: 0;

            li a {
                display: block;
                color: #fff;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            /* Change the link color to $Red-Orange on hover */
            li a:hover {
                background-color: $Red-Orange;
            }
        }
    }
}

main {
}

footer {
    color: #fff;
    background-image: linear-gradient(45deg, $Burnt-Orange 10%, $Pink-Strawberry 100%);

    div.wrapper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
}


// Media Querry notes
// Navigation on 320 causes the screen to have overflow
// The header tends to cause overflow on smallest screen sizes
// make subheading h1 go reletive left in higher resolutions