// =========================== Importing fonts ===========================
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

// Color Scheme Definitions
// https://www.canva.com/colors/color-palettes/lily-stem/

$Blue-Green: #00b4d4;
$Burnt-Orange: #d85e00;
$Yellow-Green: #cade59;
$Red-Orange: #9f2b00;
$Pink-Strawberry: #ff5349;

// Margin Scale Variables Definitions
$margin-xxs: 0.25rem;
$margin-xs: 0.5rem;
$margin-s: 0.75rem;
$margin-m: 1rem;
$margin-l: 1.25rem;
$margin-xl: 1.75rem;
$margin-xxl: 2.5rem;

// Font Scale Variables Definitions
$font-xxs: 0.25rem;
$font-xs: 0.5rem;
$font-s: 0.75rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.75rem;
$font-xxl: 2.5rem;

#svg1 {
    height: 20rem;
    width: auto;
}

.Bottle-Cap {

}
.Bottle-Top {

}
.Bottle-Middle {

}
.Bottle-Bottom {

}
